
<!--
File: index.ejs book details page
Name: Kranthi kumar Janardhanaraj
Student ID: 300976059
Web App Name: COMP308-W2019-Midterm
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3>Favourite Books List </h3>

          <a href="/books/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a book</a>
          <br>
          <br>
          <!-- table formation-->
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th><i class="fa fa-book"></i><font color="blue">Title</th></font>
                  <th class="text-center"><i class="fa fa-credit-card"></i><font color="blue"> Price</th></font>
                  <th class="text-center"><i class="fa fa-user"></i><font color="blue"> Author</th></font>
                  <th class="text-center"><i class="fa fa-film"></i><font color="blue"> Genre</th></font>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <!-- for loop to display the number of books using count -->
                <% for (let count = 0; count < books.length; count++) { %>
                <tr>
                  <td><b><%= books[count].Title %></b></td>
                  <td class="text-center"><b><%= books[count].Price %></b></td>
                  <td class="text-center"><b><%= books[count].Author %></b></td>
                  <td class="text-center"><b><%= books[count].Genre %></b></td>
                  <td class="text-center">
                    <a href="/books/<%= books[count]._id %>"
                        class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
                    </td>
                  <td class="text-center">
                    <a href="/books/delete/<%= books[count]._id %>"
                        class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                   
                  </td>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


